@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* theme */
@layer base {
  :root {
    --color-primary: 255 255 255;
    --color-secondary: 245 245 245;
    --color-bg: 247 247 247;
    --color-ascent-1: 0 0 0;
    --color-ascent-2: 89 91 100;
    --color-red: 196 18 63;
    --color-border: 213 213 213;
  }
  [data-theme="dark"] {
    --color-primary: 0 0 0;
    --color-border: 45 45 45;
    --color-ascent-1: 255 255 255;
  }
}

.ant-spin .ant-spin-dot-item {
  background-color: rgb(196, 18, 63); 
}

@layer utilities {
  .text-shadow-complex {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
      0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
}

.slider-slide {
  transition: transform 0.5s ease;
  transform: translateX(0);
}

.slider-slide.hidden {
  transform: translateX(-100%);
}

.slider-fade {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.slider-fade.hidden {
  opacity: 0;
}


